# --- Ignorar entorno virtual ---
venv/
.venv/
env/

# --- Ignorar configuraciones del IDE (DataSpell) ---
.idea/

# --- Ignorar carpetas de datos y resultados ---
steganography-lsb/dataset_images/
steganography-lsb/dataset_200x200
steganography-lsb/dataset_500x500
steganography-lsb/dataset_1000x1000
steganography-lsb/scripts/resultados_stego/

pollard_rho/img/

# --- Ignorar archivos compilados de Python ---
__pycache__/
*.pyc