# --- Ignorar entorno virtual ---
venv/
.venv/
env/

# --- Ignorar configuraciones del IDE (DataSpell) ---
.idea/

# --- Ignorar carpetas de datos y resultados ---
steganography-lsb/scripts/stego-results
pollard_rho/img/

# --- Ignorar archivos compilados de Python ---
__pycache__/
*.pyc